.tudo{
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#titulo{
    color: black;
    background-color: aquamarine;
    border: solid 1px;
    text-align: center;
    border-radius: 10px;
}
#resumo{
    border: solid 1px black;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 13px;
}

#foto{
    border: solid 1px black;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    height: 100px;
}
#avatarfoto{
    height: 90px;
    width: 90px;
}
.barra{
    display: flex;
    
}